.sidenav{
                float: right; width:15%; font-style:italic;
                margin: 0px 20px 0px 0px; padding: 5px;
                border-top: 1px solid red; border-bottom: 1px solid red;
                height:370px; overflow-x: hidden;
    }
.rangoimage{
                 float: left; width: 70%; margin-left:6px;
                 height: 320px;
    }
.tdecorate{
                text-decoration: underline; font-style:oblique;
                color: darkBlue;
    }
.mydisplay{
                color: red; font-weight: bold;
    }
.picformat{
                margin: 0px 0px 10px 30px; float:left; width:25%;
    }
.indent{
                margin: 2px 0px 0px 5px;
    }
    